.cqz-popup div, .cqz-popup span, .cqz-popup a, .cqz-popup object, .cqz-popup iframe,
.cqz-popup h1, .cqz-popup h2, .cqz-popup h3, .cqz-popup h4, .cqz-popup h5, .cqz-popup h6, .cqz-popup p, .cqz-popup blockquote, .cqz-popup pre,
.cqz-popup abbr, .cqz-popup address, .cqz-popup cite, .cqz-popup code,
.cqz-popup del, .cqz-popup dfn, .cqz-popup em, .cqz-popup img, .cqz-popup ins, .cqz-popup kbd, .cqz-popup q, .cqz-popup samp,
.cqz-popup small, .cqz-popup strong, .cqz-popup var,
.cqz-popup b, .cqz-popup i,
.cqz-popup dl, .cqz-popup dt, .cqz-popup dd, .cqz-popup ol, .cqz-popup ul, .cqz-popup li,
.cqz-popup fieldset, .cqz-popup form, .cqz-popup label, .cqz-popup legend,
.cqz-popup table, .cqz-popup caption, .cqz-popup tbody, .cqz-popup tfoot, .cqz-popup thead, .cqz-popup tr, .cqz-popup th, .cqz-popup td,
.cqz-popup article, .cqz-popup aside, .cqz-popup canvas, .cqz-popup details, .cqz-popup figcaption, .cqz-popup figure,
.cqz-popup footer, .cqz-popup header, .cqz-popup hgroup, .cqz-popup main, .cqz-popup menu, .cqz-popup nav, .cqz-popup section, .cqz-popup summary,
.cqz-popup time, .cqz-popup mark, .cqz-popup audio, .cqz-popup video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.cqz-popup article, .cqz-popup aside, .cqz-popup details, .cqz-popup figcaption, .cqz-popup figure, .cqz-popup footer, .cqz-popup header, .cqz-popup hgroup, .cqz-popup main, .cqz-popup menu, .cqz-popup nav, .cqz-popup section {
  display: block;
}
.cqz-popup nav ul {
  list-style: none;
}
.cqz-popup abbr {
  border-bottom: 1px dotted;
  cursor: help;
}
.cqz-popup blockquote, .cqz-popup q {
  quotes: none;
}
.cqz-popup blockquote:before, .cqz-popup blockquote:after,
.cqz-popup q:before, .cqz-popup q:after {
  content: "";
  content: none;
}
.cqz-popup table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cqz-popup input, .cqz-popup select {
  margin: 0;
  font: inherit;
  vertical-align: middle;
  outline: 0;
}
.cqz-popup textarea {
  margin: 0;
  font: inherit;
  overflow-y: auto;
  outline: 0;
  resize: none;
}
.cqz-popup img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.cqz-popup ul, .cqz-popup ol {
  margin: 0 0 20px 20px;
  padding: 0;
}
.cqz-popup ul ul, .cqz-popup ul ol, .cqz-popup ol ul, .cqz-popup ol ol {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cqz-popup p {
  margin-bottom: 20px;
}
.cqz-popup *,
.cqz-popup *:before,
.cqz-popup *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cqz-popup ::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}
.cqz-popup :-moz-placeholder {
  color: inherit;
  opacity: 1;
}
.cqz-popup ::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

@font-face {
  font-family: "Lato";
  src: url("../skin/fonts/Lato-Regular.ttf");
}
.hidden {
  visibility: hidden;
  display: none !important;
}

/*===== Onboarding =====*/
#UITourTooltip[target=cliqz] .panel-arrowcontent {
  --panel-arrowcontent-padding: 0px;
}

#PopupAutoCompleteRichResultCliqz {
  overflow: hidden;
  display: none;
}

#urlbar[focused=true] {
  box-shadow: 0 0 1px #3B99FC inset;
}

.cqz-popup {
  overflow: hidden;
  position: relative;
  min-width: 500px;
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 14px;
  line-height: 1.2em;
  font-family: Lato, Helvetica, sans-serif;
  border-top: none;
  background: #fff;
  /* override linux default grey color */
}

.cqz-results {
  height: 350px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ====== Last Search ====== the gray container in the search bar*/
.cliqz-urlbar-Last-search-container {
  overflow: hidden;
  max-width: 220px;
  margin: -2px 7px 0px 0px;
  position: relative;
  color: #5F7C86;
  border-radius: 1px;
  background: #F2F6F7;
  border: 1px solid #BCC8CD;
  border-radius: 15px;
}
.cliqz-urlbar-Last-search-container .cliqz-urlbar-Last-search {
  overflow: hidden;
  max-width: 212px;
  line-height: 17px;
  padding: 0 8px 0 24px;
  text-overflow: ellipsis;
}
.cliqz-urlbar-Last-search-container:before {
  width: 14px;
  height: 14px;
  content: url("../skin/search-icon.svg");
  position: absolute;
  top: 0;
  left: 7px;
}
.cliqz-urlbar-Last-search-container:-moz-lwtheme {
  color: #DEEDFB;
  background: rgba(242, 246, 247, 0.3);
}
.cliqz-urlbar-Last-search-container:-moz-lwtheme-darktext {
  color: #5F7C86;
  background: #F2F6F7;
}
.cliqz-urlbar-Last-search-container:hover {
  background: #2385E7;
  color: #fff;
  border: 1px solid #2385E7;
  cursor: pointer;
}
.cliqz-urlbar-Last-search-container:hover:before {
  content: url("../skin/search-icon-inverted.svg");
}
.cliqz-urlbar-Last-search-container[min-browser-version-is-58=true] {
  margin: 3px 6px 3px 0px;
}
.cliqz-urlbar-Last-search-container[channel="40"] {
  line-height: 24px;
}
.cliqz-urlbar-Last-search-container[channel="40"] .cliqz-urlbar-Last-search {
  height: 22px;
  line-height: 19px;
  font-size: 15px;
}
.cliqz-urlbar-Last-search-container:not([channel="40"]) {
  line-height: 22px;
}

/* ====== End Last Search ====== */
.cqz-popup .ad-container {
  border-top: 1px solid #ccc;
  background: #fff;
  color: #333;
}
.cqz-popup .ad-container .cliqz-brand-logo {
  margin-top: 9px;
}
.cqz-popup .ad-container a[extra=title] {
  color: #506bb8 !important;
}

@media screen and (-moz-os-version: windows-win7) and (-moz-os-version: windows-win8) and (-moz-os-version: windows-win10) {
  .cqz-popup .ad-container .cliqz-brand-logo {
    margin-right: 18px;
  }
}
#cliqz-sidebar,
.offer-banner {
  display: none;
}

.cqz-popup-offer .cliqz-content-wrapper {
  float: left;
  border-right: 1px solid #ccc !important;
  width: calc(100% - 250px);
}
.cqz-popup-offer #cliqz-sidebar {
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
  padding: 30px 0 0 0;
  width: 250px;
  height: 350px;
}
.cqz-popup-offer #cliqz-sidebar .ad-container {
  border: none;
}
.cqz-popup-offer #cliqz-sidebar .offer-banner {
  display: block;
}
.cqz-popup-offer #cliqz-sidebar .cqz-result-box .cqz-result-title {
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.cqz-popup-offer #cliqz-sidebar .cqz-result-box .cqz-ez-subtitle {
  display: none;
}
.cqz-popup-offer #cliqz-sidebar .cqz-result-box .cqz-result-title .ad {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
}
.cqz-popup-offer #cliqz-sidebar .cqz-result-box .cqz-generic-desc {
  color: #78787f;
  font-size: 14px;
  line-height: 17px;
  height: 68px;
}
.cqz-popup-offer #cliqz-sidebar .cqz-result-box .cqz-generic-desc * {
  white-space: normal;
}
.cqz-popup-offer #cliqz-sidebar .cqz-result-box .cliqz-brand-logo {
  display: none;
}
.cqz-popup-offer #cliqz-sidebar .cqz-btn-offer {
  width: 100%;
  display: block !important;
  margin: 30px 0;
  padding: 7px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
  background: #f45a1e;
  cursor: pointer;
}
.cqz-popup-offer #cliqz-sidebar .cqz-btn-offer:hover {
  background: #d5430a;
}

.cqz-btn-offer {
  display: none;
}

#cliqz-message-container-top {
  z-index: 1000;
  position: relative;
}
#cliqz-message-container-top .ad-container {
  display: -moz-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: #fff;
  background: #45c2cc;
  padding: 2px 20px;
}
#cliqz-message-container-top .ad-container .cqz-result-title {
  color: #fff !important;
}
#cliqz-message-container-top .ad-container .cqz-result-title a {
  color: #fff !important;
  border-color: #fff !important;
}
#cliqz-message-container-top .ad-container .cqz-result-title .ad {
  color: #fff;
  border-color: #fff;
}
#cliqz-message-container-top .ad-container .cqz-ez-subtitle {
  display: block;
  margin-bottom: 18px;
  color: #fff;
}
#cliqz-message-container-top .ad-container .cliqz-brand-logo {
  background-color: #3a959c !important;
}

/* Context menu */
.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  list-style: none;
}

.context-menu-active {
  display: block;
}

.context-menu-item {
  display: block;
  margin-bottom: 4px;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  cursor: pointer;
}

.context-menu-item:last-child {
  margin-bottom: 0;
}

.context-menu-item:hover {
  color: #fff;
  background-color: #0066aa;
}

/*# sourceMappingURL=styles.css.map */